@import 'tailwindcss';

@font-face {
  font-family: 'Nitz';
  src: url('/Nitz.ttf') format('truetype');
}

@layer base {
  html {
    color-scheme: light dark;
    font-family: 'Nitz', sans-serif;
  }
  
  body {
    background-color: white;
    color: #333;
    line-height: 1.5;
  }
}